.ui-layout-north{
    z-index:20 !important;
    overflow: visible !important;
}
.ui-layout-north .ui-layout-unit-content{
    overflow: visible !important;
}
.ui-widget, .ui-widget, .ui-widget{
    font-size: 95% !important;
}

.minha:hover{
    color: red;
    cursor:pointer;
}

#contato{
	margin-top:20px;
}
#contato label{
	font-size:15pt;
	font-family:arial;
	font-weight:bold;
	font-style:italic;
	color:#888;
	display:block;
	margin-top:20px;
}



